<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add a Meerkat</title>
    </head>
    <body>
        <form action="/meerkats" method="post">
            <label>Name: </label><input type="text" name="name">
            <label>Rank</label><input type="text" name="rank">
            <input type="submit" value="Add">
        </form>
    </body>
</html>
